
<div class="card">
{{#each posts as |post|}}
  <div class="card-header">
   {{post.user.username}}
  </div>
  <div class="card-body">
    <h5 class="card-title"> {{post.title}}</h5>
    <p class="card-text"> {{post.content}}</p>
  </div>
{{/each}}
</div>
<br> <br>

<a href="#" class="btn btn-primary" id="dashboard"> Go to Dashboard to View and Make Comments! </a>
