<!DOCTYPE html>
<html lang="en-us">

<head>
    <meta charset="UTF-8" />
    <link rel="stylesheet" href="public/reset.css">
    <link rel="stylesheet" href="public/style.css">
    <link rel="stylesheet"
  href="https://fonts.googleapis.com/css?family=roboto">
    <title>Tech Blog!</title>
</head>

<header>
    <h1>Tech Blog</h1>
    <nav>
       <ul>
        <li><a href="#about-me">About Me</href></li>
        <li><a href="#my-works">My Works</href></li>
        <li><a href="#contact-me">Contact Me</href></li>
        </ul>
    </nav>
</header>

<main>
  {{{ body }}}
  
</main>

<footer>
    <h2 id="contact-me"> Footer </h2><br>
    <p>Tech-blog, comment and post your heart away! </p>
</footer>

</html>