
<div class="card">
{{#each posts}}
  <div class="card-header">
   {{posts.user.username}}
  </div>
  <div class="card-body">
    <h5 class="card-title"> {{posts.title}}</h5>
    <p class="card-text"> {{posts.content}}</p>
    <a href="#" class="btn btn-primary"> Make a Comment </a>
  </div>
{{/each}}
</div>
<br> <br>
