:root{
    /* colours */
    --mainwhite: #FFFFFA;
    --pansy: #70163C;
    --blue: #2978A0;
    --grey: #818479;
    --textblack: #000500;
    }
    
    /* Header and Nav Bar */
    header {
        padding: 2% 0%;
        background-color: var(--pansy);
        color: var(--mainwhite);
    }
    
    header h1 {
        padding-bottom: 30px;
        text-align: center;
        font-size: 3rem;
        font-family: 'Roboto', sans-serif;
    }
    nav {
        position:absolute;
        width: 100%;
        background-color: var(--mainwhite);
        padding: 1px;
        border-bottom: 5px solid var(--pansy);
        text-align: right;
    }
    
    a {
        color: var(--textblack);
        text-decoration: none;
    }
    
    nav a:link{
        text-decoration: none;
    }
    
    nav a:hover{
        color:var(--grey);
    }
    
    article figure a:hover{
        -webkit-box-shadow: 0px 0px 39px 17px rgba(112,22,60,1);
        -moz-box-shadow: 0px 0px 39px 17px rgba(112,22,60,1);
        box-shadow: 0px 0px 39px 17px rgba(112,22,60,1);
        transition: .8s ease; 
        }   
    
    nav a:active{
        color:var(--pansy)};
    
    /* Section - Avatar and About Me */
    
    .box {
        padding: 50px;
        background-color: var(--mainwhite);
        border-color: #000500;
    }
    section {
        border: 5px solid var(--textblack);
        padding: 10px 40px;
        max-width: 100%;
        display:flex;
    }
    
    div {
        position: relative;
    }
    
    /* Footer - Contact Me */
    
    footer {
        margin-top: 30px;
        padding: 2% 0%;
        background-color: var(--pansy);
        color: var(--mainwhite);
    }
    
    footer h2 {
        font-size: 2rem;
        text-align: center;
        margin-top:-10px;
        margin-left: 20px;
    }
    
    footer p{
        text-align: center;
        padding-bottom: 25px;
        padding-left: 25px;
    }
    
    @media screen and (max-width = 838px) {
    header nav section main img footer {
            display: flex;
            flex-wrap: wrap;
            flex: 1 2 auto;
        }
    }